<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1itBjITM3CqT89vYbTOOWnxiBKoDNpi8</string>
	<key>GCM_SENDER_ID</key>
	<string>1070984719409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoBricks</string>
	<key>PROJECT_ID</key>
	<string>store-e4e35</string>
	<key>STORAGE_BUCKET</key>
	<string>store-e4e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070984719409:ios:27af5c0b6c1f95f0bf3910</string>
	<key>DATABASE_URL</key>
	<string>https://store-e4e35-default-rtdb.firebaseio.com</string>
</dict>
</plist>